<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
  </head>
  <body>
    <%= image_tag"reminder.jpg" %>
    <br>
    <p>Hi <%= @user.name %>,<p><br>

    <p>Remember to check in for the following challenges you have:</p>
    <% @user.challenges.each do |challenge|%>
      <p> * <%= challenge.name %></p>
    <% end %>

    <br><p>Go to the <%= link_to "Profile page", @user %> to check in</p><br>

    <p>Regards,</p>
    <%= image_tag"footer.jpg" %>
  </body>
</html>