
<%#= simple_form_for(@comment) do |f| %>
<%= simple_form_for([@challenge, @challenge.comments.build], html: { class: "card-body"}) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-group">
    <%= f.input :content %>
    <%#= f.association :user %>
    <%#= f.association :challenge %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
