<% if current_user?(@user) %>
  <%= render 'shared/add_btn' %>
<% end %>
<br><br>
<div class="row text-center">
  <% if !@owned_challenges.empty?%>
    <% @owned_challenges.all.each do |challenge| %>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100 overflow-hidden">

          <% if challenge.image.attached? %>
            <% if Rails.application.config.active_storage.service == :local %>
              <img src="<%= url_for(challenge.image) %>" alt="Image" class="image"
                    onload="resize($(this))"/>
            <% else %>
              <img src="<%= challenge.image.service_url %>" alt="Image" class="image"
                    onload="resize($(this))"/>
            <% end %>
            <%#= link_to image_tag(challenge.image.service_url, alt: challenge.name, class: "card-img-top"), challenge %>
          <% else %>
            <%= link_to image_tag(challenge.pic_link, alt: challenge.name, class: "card-img-top"), challenge %>
          <% end %>

          <div class="card-body">
            <h4> <%= link_to challenge.name, challenge, class: "card-title" %></h4>
            <p class="card-text"><%#= challenge.description[0..100] + "..." %></p>
          </div>

          <% if current_user?(@user) %>
            <div class="card-footer">
              <%= link_to "Delete", challenge_path(challenge), method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-primary" %>
            </div>
          <% end %>

        </div>
      </div>
    <% end %>
  <% else %>
    <% if current_user?(@user) %>
      <h6>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;You currently have no created challenge</h6>
    <% else %>
      <h6>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This user currently has no created challenge</h6>
    <% end %>
  <% end %>
</div>