<script>
    function resize(img) {
        if (img.width() > img.height()) {
            img.addClass("landscape")
        }
    }

    // $(window).on('load', function() {
    //   $('#main').css({
    //     'opacity':'1',
    //     'transition': 'opacity 0.5s'
    //     });
    // })
</script>


<% provide(:title, "Challenges") %>
<p id="notice"><%= notice %></p>

<main id="main" style="opacity:0">
  <!-- ======= Works Section ======= -->
  <section class="section site-portfolio">
    <div class="container">
      <h2>Ready to challenge yourself?</h2>
      <p class="mb-0">Join millions of challenges around the world</p><br>
      <div class="row align-items-center justify-content-between">
        <div class="col-md-12 col-lg-6 mb-4 mb-lg-0">
<!--          <h2>Ready to challenge yourself?</h2>-->
<!--          <p class="mb-0">Join millions of challenges around the world</p><br>-->
          <%= render 'shared/add_btn' %>
        </div>

        <div class="col-auto">
          <div id="filters" class="filters">
            <a data-filter = 'All' style = 'cursor:pointer'>All</a>
            <a data-filter = 'Life' style = 'cursor:pointer'>Life</a>
            <a data-filter = 'Workout' style = 'cursor:pointer'>Workout</a>
            <a data-filter = 'Habbit' style = 'cursor:pointer'>Habit</a>
            <a data-filter = 'Study' style = 'cursor:pointer'>Study</a>
            <a data-filter = 'philanthropy' style = 'cursor:pointer'>Philanthropy</a>
          </div>
        </div>

      </div>
      <%= form_with(url: filter_path, method: :get, remote: true) do |f| %>
        <div class="row mb-5 justify-content-end">

          <div class="col col-5">
            <%= text_field_tag(:q, value = nil, options = {placeholder: "search challenge name", class: "form-control", onkeydown: "doSearch()"}) %>
          </div>
          <%=hidden_field_tag(:filter, nil)%>

          <%= submit_tag("Search", class: "btn btn-primary", style: "display:none") %>
          <!--        </div>-->
        </div>
      <% end %>

      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab">
          <div id="portfolio-grid" class="row no-gutter">
            <%= render 'challenges/portfolio', challenges: @challenges %>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End  Works Section -->
</main><!-- End #main -->


<script>
    $('#filters a').each(function() {
        $(this).on('click', function(){
            $('#filter').val($(this).data("filter"))
            doSearch()

        })
    })

    function doSearch() {
        $('form input[value="Search"]').click()
    }
</script>